{% extends "Loan/base.html" %} {% block app_title %}Login{% endblock %} {% block app_body %} {% if request.user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url={% url '/' %}"> {% else %}
<section class="login-block py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 right-sec">
                <img class="img-fluid" src="http://placehold.it/900x400" alt="" />
            </div>
            <div class="col-md-4">
                <div class="panel panel-default form-container">
                    <div class="panel-body">
                        <form role="form" method='post' action='./'>
                            <h3 class="text-center margin-xl-bottom">Welcome Back!</h3> {% if form.errors %}
                            <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
                            {% endif %}
                            <div class="form-group text-center">
                                <label class="sr-only" for="username">Username</label>
                                <input type="text" class="form-control input-lg" id="username" name="username" placeholder="Username" autofocus>
                            </div>
                            <div class="form-group text-center">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type='submit' value="Login" />
                            <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}../{% endif %}" /> {% csrf_token %}
                        </form>
                    </div>
                    <div class="panel-body text-center">
                        <div class="margin-bottom">
                            New to Credit United? <a href="/signup">Create an Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} {% endblock %}