{% extends "Loan/base.html" %} {% block app_title %}Welcome to Credit United{% endblock %} {% block app_body %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12 right-sec">
            <img class="img-fluid" src="http://placehold.it/900x400" alt="" />
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Help your loved ones to fullfill their dreams. we help you do just that! Refer for loans and financial services to your family, friends & colleagues, and get exciting rewards in return</p>
                </div>
            </div>
            <div class="card text-white bg-secondary mb-3">
                <div class="card-body">
                    <p class="card-text">To be a part of this referral program, refer your friends to avail Home Loan, Personal Loan etc. Every friend you refer, can earn you rewards up to Rs.1,00,000* and referring 10 friends can earn you rewards up to Rs.10,00,000* and more. The more number of friends you refer, the more you earn, making the possibilities of your rewards limitless.</p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <p class="card-text">Exact amount that you earn will depend on the loan amount disbursed through your reference.</p>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <p class="card-text">As a trusted financial advisor, you could refer confidently your clients, friends,colleagues to Refferel Credit , to fulfil their loan requirements.</p>
                    <p class="card-text">
                        With our experience in offering solutions to customers for their loan requirement having presence in more than 75 plus cities, this would enhance your portfolio , build trust ,and confidence.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}