{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Referrel Credit">
    <meta name="author" content="Referrel Credit">
    <title>Coming Soon Referel Credit</title>
    <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Loan/assets/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'Loan/css/comingsoon.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,700,200|Open+Sans:400italic,400' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
</head>

<body>
    <div class="wrapper">
        <div class="content-wrap">
            <div class="header">
                <h1 id="logo">*empty<span>wallet</span></h1>
            </div>
            <div class="content">
                <p>we're coming soon to fill them.</p>
                <a href="https://www.facebook.com/referrelcredit" class="socicon-facebook">I wanna know more</a>
            </div>
            <div class="social">
                <ul>
                    <li><a href="https://www.facebook.com/referrelcredit" class="socicon-facebook"></a></li>
                    <li><a href="https://twitter.com/Alacritic_Super" class="socicon-twitter"></a></li>
                    <!-- <li><a href="#" class="socicon-instagram"></a></li> -->
                    <!-- <li><a href="https://www.linkedin.com/in/praveenkumarverma1993" class="socicon-linkedin"></a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <script src="{% static 'Loan/js/jquery-3.3.1.js' %}"></script>
</body>

</html>