{% extends "Loan/base.html" %} {% block app_title %}Welcome to Credit United{% endblock %} {% block app_body %}
{% load static from staticfiles %}
<div class="container">
    <!-- Heading Row -->
    <div class="row my-4">
        <div class="col-lg-8">
            <img class="img-fluid rounded" src="{% static 'Loan/images/logo21.png' %}" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <h1>Help us get the word out Anytime, anywhere</h1>
            <p>We all need more than one income source, but there are only so many hours in a day to work
            </p>
            <h3>Work smart, Earn smart</h3>
            <!-- <a class="btn btn-primary btn-lg" href="#">Call to Action!</a> -->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <!-- Call to Action Well -->
    <!-- <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">We all need more than one income source, but there are only so many hours in a day to work. work with us </p>
        </div>
    </div> -->
    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Loan</h2>
                    <p class="card-text">We provide loans from well established financial as well as non-financial institutions.Based on your needs..we help people to fulfill their dreams.</p>
                </div>
                <div class="card-footer">
                    <a href="/products/loan" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Insurance</h2>
                    <p class="card-text">Insurance is always a better investment for your future.We provide health insurance,automobile insurance,term plans and other investment options.</p>
                </div>
                <div class="card-footer">
                    <a href="/products/insurance" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title"> Credit Cards</h2>
                    <p class="card-text">We provide credit cards, prepaid cards from banks as well as other well established financial institutions.Based on your needs, we have a offer for people.</p>
                </div>
                <div class="card-footer">
                    <a href="/products/cards" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}