{% extends "Loan/base.html" %} {% block app_title %}Welcome to Referrel Credit{% endblock %} {% block app_body %} {% load static from staticfiles %}
<div class="container">
    <!-- Heading Row -->
    <div class="row my-4">
        <div class="col-lg-8">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="http://via.placeholder.com/350x150" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="http://via.placeholder.com/350x150" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="http://via.placeholder.com/350x150" alt="Third slide">
                </div>
              </div>
            </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <h1>Refer & Earn</h1>
            <p>Help your loved ones to fullfill their dreams. our system helps you do just that! Refer for loans and financial services to your family, friends & colleagues, and get exciting rewards in return.
            </p>
            
            <!-- <a class="btn btn-primary btn-lg" href="#">Call to Action!</a> -->
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <!-- Call to Action Well -->
    <!-- <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">We all need more than one income source, but there are only so many hours in a day to work. work with us </p>
        </div>
    </div> -->
    <!-- Content Row -->
    <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;height:220px;">
                    
                    <div class="card-body text-center">
                        <img class="card-img-top" src="{% static 'Loan/images/refericon.png' %}" alt="Card image cap" style="max-width:70px;">
                        <h5 class="card-title">Become a referral</h5>
                        <p class="card-text">Sign up and refer people you know who need the products</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <img class="card-img-top" src="{% static 'Loan/images/assistant-icon.png' %}" alt="Card image cap" style="max-width:70px;">
                        <h5 class="card-title">Assist with product</h5>
                        <p class="card-text">We talk to your referral and explain everything to get him the product at the best possible rate!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <img class="card-img-top" src="{% static 'Loan/images/buy.png' %}" alt="Card image cap" style="max-width:70px;">
                        <h5 class="card-title">Referral gets product</h5>
                        <p class="card-text">After verifying all documents, your referral will get his/her services/products done.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <img class="card-img-top" src="{% static 'Loan/images/rewards.png' %}" alt="Card image cap" style="max-width:70px;">
                        <h5 class="card-title">Get your rewards</h5>
                        <p class="card-text">Earn money on each referral of atleast 0.5% of the specified amount</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="alert alert-light text-center" role="alert">
  <h2>Featured Products</h2>
</div>
    
    <div class="row" style="background-image: url(static/Loan/images/background.jpg)">

        {% for i in "x"|ljust:"16" %}
    <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    
                    <div class="card-body text-center">
                        <img class="card-img-top" src="{% static 'Loan/images/refericon.png' %}" alt="Card image cap" style="max-width:70px;">
                        <h5 class="card-title">name</h5>
                        <p class="card-text">Description</p>
                    </div>
                </div>
            </div>
{% endfor %}
    </div>
    <!-- <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Loan</h2>
                    <p class="card-text">We provide loans from well established financial as well as non-financial institutions.Based on your needs..we help people to fulfill their dreams.</p>
                </div>
                <div class="card-footer">
                    <a href="/products/loan" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Insurance</h2>
                    <p class="card-text">Insurance is always a better investment for your future.We provide health insurance,automobile insurance,term plans and other investment options.</p>
                </div>
                <div class="card-footer">
                    <a href="/products/insurance" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title"> Credit Cards</h2>
                    <p class="card-text">We provide credit cards, prepaid cards from banks as well as other well established financial institutions.Based on your needs, we have a offer for people.</p>
                </div>
                <div class="card-footer">
                    <a href="/products/cards" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    </div> -->
<!--     <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">How it works?</h5>
                    <p class="card-text">As a trusted financial advisor, you could refer confidently your clients, friends,colleagues to Referrel Credit , to fulfil their loan requirements.</p>
                    <p class="card-text">
                        With our experience in offering solutions to customers for their loan requirement having presence in more than 75 plus cities, this would enhance your portfolio , build trust ,and confidence.</p>
                    <p class="card-text">Once we receive your reference, concern team will verify and they will forward to sales team. Once it approve will be consider as Referral Sales. You will get a confirmation by registered email or phone number.</p>
                    <a href="/refer" class="btn btn-primary">Refer</a>
                </div>
            </div>
        </div>
    </div> -->
</div>
{% endblock %}