
{% extends "Loan/base.html" %} {% block app_title %}Products{% endblock %} {% block app_body %}
<div class="container pd-bg py-5">
	<div class="jumbotron">
    <button type="button" class="btn btn-primary btn-block"><a href="/products/loan" class="badge badge-primary">Loan</a></button>
    <button type="button" class="btn btn-primary btn-block"><a href="/products/cards" class="badge badge-primary">Credit Cards</a></button>
    <button type="button" class="btn btn-primary btn-block"><a href="/products/insurance" class="badge badge-primary">Insurance</a> </button>
  </div>
</div>
{% endblock %}