{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Refferel Credit">
    <meta name="author" content="Refferel Credit">

    <title>{% block app_title %}Refferel Credit {% endblock %}</title>
    <script src="{% static 'Loan/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'Loan/js/tether.js' %}"></script>
    <script src="{% static 'Loan/js/bootstrap.min.js' %}"></script>
        <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="icon" href="{% static 'Loan/images/logo2.jpg' %}" type="image/jpg" sizes="160x160">
     <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="{% static 'Loan/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Loan/assets/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'Loan/css/products-main.css' %}">
     {% block app_head %}{% endblock %}

</head>

<body>
    {% include "Loan/header.html" %}
    <div class="container-fluid pt-5">
        {% block app_body %}{% endblock %}
    </div>
    {% include "Loan/footer.html" %}
  
</body>
</html>
