<nav class="sidebar bg-dark">
    <ul class="list-unstyled">
        <li><a href="/user"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/user/detail"><i class="fa fa-user"></i> User Details</a></li>
        <!-- <li>
            <a href="#submenu1" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i> Dropdown Link</a>
            <ul id="submenu1" class="list-unstyled collapse">
                <li><a href="#">Submenu Item</a></li>
                <li><a href="#">Submenu Item</a></li>
                <li><a href="#">Submenu Item</a></li>
            </ul>
        </li> -->
       <!--  <li>
            <a href="#submenu2" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i> Dropdown Link 2</a>
            <ul id="submenu2" class="list-unstyled collapse">
                <li><a href="#">Submenu Item</a></li>
                <li><a href="#">Submenu Item</a></li>
                <li><a href="#">Submenu Item</a></li>
            </ul>
        </li> -->
        <!-- <li><a href="#"><i class="fa fa-fw fa-angle-right"></i> Sidebar Link</a></li> -->

    </ul>
</nav>