{% extends "base.html" %} {% load static from staticfiles %} {% block app_title %} Welcome, {{user.first_name }}{% endblock %} {% block app_body %}
<div id="page-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-body">
              <div class="col-md-12 d-flex">
                    <div class="col-md-3">
                    <img alt="image" class="img-circle img-responsive" src="{% static 'Loan/images/assistant-icon.png' %}" style="max-width:160px;">
                </div>
                <div class="col-md-4">
                    <h3>{{user.first_name}} {{user.last_name}}</h3>
                    <p>
                        <span class="text-gray text-no-decoration">
                                <i class="fa fa-fw fa-envelope"></i>
                                {{user.email}}
                            </span>
                    </p>
                    <p>
                        <a class="text-gray text-no-decoration">
                                <i class="fa fa-fw fa-phone"></i>
                                Call {{user.contact_no}} 
                            </a>
                    </p>
                    <p>{{user.city}} {{user.state}}</p>
                    <p>Postal Code : {{user.postalCode}}</p>
                    <p>PAN Card: {{user.pancard_info}}</p>
                </div>
                <div class="col-md-5">
                    <p>Communication address: <br>{{user.address}}</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}